body{
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
}
/*NAVBAR BEGINS HERE*/
.navbar{
    text-align: center;
    background: url("media/Capture.jpg") center center no-repeat;
    background-size: cover;
    padding: 10px 10px;
}
.navbartxt{ 
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    font-weight: normal;
    color: white;
    list-style: none;
    padding-left: 50px;
}
.navbarul{
    display: flex;
    padding-left: 400px;
}
.href:hover{
    text-decoration: none;
    color: rgba(141, 8, 8, 0.842);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.192);
}
.href{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
/*NAVIGATION BAR END'S HERE*/

#mainsct{
    background-image: url(https://images.unsplash.com/photo-1550439062-609e1531270e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    padding-bottom: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -23px;
}
#titletxt{
    font-family: 'Lexend Exa', sans-serif;
    font-size: 35px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    padding: 100px 0 0 0;   
    text-align: center;
}
#leftbox{
    padding-left: 350px;
    padding-top: 150px;
}
#leftboxtxt{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.616);
    width: 415px;
    height: 145px;
    border-radius: 20px;
}
.hreftxt{
    text-decoration: none;
    color: rgb(21, 65, 105);
}
#rightboxtxt{
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 20px;
    width: 415px;
    height: 145px;
    background-color: rgba(255, 255, 255, 0.616);
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    margin-left: 450px;
    margin-top: -173px;
}
