body{
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
}
.navbar{
    text-align: center;
    background: url("media/Capture.jpg") center center no-repeat;
    background-size: cover;
    padding: 10px 10px;
}
.navbartxt{ 
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    font-weight: normal;
    color: white;
    list-style: none;
    padding-left: 50px;
}
.navbarul{
    display: flex;
    padding-left: 375px;
}
.href:hover{
    text-decoration: none;
    color: rgba(141, 8, 8, 0.842);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.192);
    
}
.href{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
#mainsct{
    background-image: url(media/Coding\ Pic.jpg);
    background-repeat: no-repeat;
    width: 100%;background-size: cover;
    padding-bottom: 585px;
    margin-top: -20px;
}
#maintitletxt{
    color: white;
    padding: 200px 0 0 0;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
}
#mainsctsmltxt{
    color: rgb(124, 121, 121);
    font-size: 15px;
    padding-left: 700px;
    font-family: 'Varela Round', sans-serif;
}