body{
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
}
/*NAVIGATION BAR START'S HERE*/
.navbar{
    text-align: center;
    background: url("media/Capture.jpg") center center no-repeat;
    background-size: cover;
    padding: 10px 10px;
}
.navbartxt{ 
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    font-weight: normal;
    color: white;
    list-style: none;
    padding-left: 50px;
}
.navbarul{
    display: flex;
    padding-left: 375px;
}
.href:hover{
    text-decoration: none;
    color: rgba(141, 8, 8, 0.842);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.192);
}
.href{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
/*Navigation Bar End's Here*/
#mainsct{
    background-image: url(media/Coding\ Pic.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding-bottom: 550px;
    margin-top: -50px;
    background-position: 50%;
}
#maintitletxt{
    color: white;
    padding: 200px 0 0 0;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
}
#mainsctsmltxt{
    color: rgb(124, 121, 121);
    font-size: 15px;
    padding-left: 700px;
    font-family: 'Varela Round', sans-serif;
}
#socialgithub{  
    font-size: 35px;
    color: rgb(250, 250, 250);
    padding-left: 675px;
    }
#socialgithub :hover{
    font-size: 35px;
    color: rgb(34, 34, 34);
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
}
#sociallinkedin{
    font-size: 35px;
    color: rgb(250, 250, 250);
    padding-left: 15px;
}
#sociallinkedin :hover{
    font-size: 35px;
    color: rgb(34, 34, 34);
    background-color: rgb(250, 250, 250);
}
#socialcodepen{
    font-size: 35px;
    color: rgb(250, 250, 250);
    padding-left: 15px;
}
#socialcodepen :hover{
    font-size: 35px;
    color: rgb(34, 34, 34);
    background-color: rgb(250, 250, 250);
    border-radius: 200px;
}
#socialfcc{
    font-size: 35px;
    color: rgb(250, 250, 250);
    padding-left: 15px;   
}
#socialfcc :hover{
    font-size: 35px;
    color: rgb(34, 34, 34);
    background-color: rgb(250, 250, 250);
    border-radius: 200px;
}
#latestworktxtdiv{
    font-family: 'Varela Round', sans-serif;
    color: rgb(250, 250, 250);
    font-size: 16px;
    padding-left: 685px;
}
#arrowbutton{
    color: rgb(250, 250, 250);
    font-size: 30px;
    font-weight: 900;
    padding-left: 75px;
}
#smallportfolio{
    background-color: rgba(250, 250, 250, 0.281);
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 150px;
    color: rgb(250, 250, 250);
}