body{
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
}
/*NAVIGATION BAR STARTS HERE!*/
.navbar{
    text-align: center;
    background: url("media/Capture.jpg") center center no-repeat;
    background-size: cover;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
}
.navbartxt{ 
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    font-weight: normal;
    color: white;
    list-style: none;
    padding-left: 50px;
}
.navbarul{
    display: flex;
    padding-left: 400px;
}
.href:hover{
    text-decoration: none;
    color: rgba(175, 23, 23, 0.842);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.192);
    transition: ease-in-out .5s;
}
.href{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
    /* NAVIGATION BARS ENDS HERE*/
    #mainsct{
        background-image: url(media/portfolioimg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        grid-gap: 10px;
        padding-top: 250px;
        padding-bottom: 150px;
    }
    .grid-item{
        text-align: center;
        border-radius: 10px;
        -webkit-box-shadow: 0px 1px 13px 1px rgb(0, 0, 0);
        -moz-box-shadow: 0px 1px 13px 1px rgb(0, 0, 0);
        box-shadow: 0px 1px 13px 1px rgb(0, 0, 0);
        padding: 10px;
        background-color: rgba(95, 90, 90, 0.753);
    }
    .item-img{
        width: 100%;
        /* try to take pictures that are the same size */
    }
    .item-header{
        font-size: 1.6rem;
        font-family: 'Varela Round', sans-serif;
        color: rgb(255, 255, 255);
    }
    .item-subheader{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        padding: 5px;
        font-family: 'Varela Round', sans-serif;
    }
    /* FOOTER BEGINS HERE!*/
#footer{
    background-color: rgb(98, 97, 99);
    margin-top: -20px;
    padding-bottom: 250px;
    padding-left: 10%; 
    padding-right: 10%;
}
#pages{
    list-style: none;
    padding-top: 50px;
}
.aclass:hover{
    color: black;
    background-color: rgba(202, 199, 193, 0.849);
    border-radius: 10px;
    width: 0px;
    transition: ease-in-out 0.5s;
    font-family: 'Varela Round', sans-serif;
}
.aclass{
    padding: 12px 14px;
}
.liclass a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
}
#socialicons{
    font-size: 40px;
    margin-top: -200px;
}
.social{
    display: block;
    color: white;
    padding: 9px 10px;
    width: max-content;
    margin: 0px;
}
.social:hover{
    color: black;
    background-color: rgba(202, 199, 193, 0.849);
    border-radius: 20px;
    transition: ease-in-out 0.5s;
    font-family: 'Varela Round', sans-serif;
}
#emailtxt {
    font-size: 20px;
    margin-top: -250px;
    padding-bottom: 150px;
    font-family: 'Varela Round', sans-serif;
}
#footerhref{
    text-decoration: none;
    color: white; 
}
#nametxt{
    font-size: 20px;
    margin-top: -150px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}